*{
    margin: 0;
    padding: 0;
    font-family: 'arial' ;
}
.login{
    display: flex;
    transform: translate(0, 30%);
    justify-content: center;
}
.login .container{
    width: 320px;
    height: 290px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 30px gray;
}
.login .container .header{
    display: inline-flex;
    padding: 20px 0px;
    box-shadow: 0 1px 10px rgb(167, 166, 166);
    width: 100%;
    justify-content: space-around; 
    border-radius: 5px 5px 0 0;
}
.login .container .header h4{
    color: #D8A13E;
    font-size: 11.5px;
    letter-spacing: 3.5px;
    font-weight: 800;
}
.login .container .header a{
    color: #cfcdcd;
    font-size: 0.8rem;
    text-decoration: none;
    cursor: pointer;    
}
.login .container .input{
    padding: 25px 30px;
}
.login .container .input input{
    width: 100%;
    padding: 10px 10px;
    margin: 5px -10px;
    border:1.9px solid #E9E4D6;
    background-color: #F1F1F1;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.5px;

}
.login .container .input input:focus-visible{
    outline: none;
    background-color:white;
}
.login .container button{
    color:#FFFF;
    border: none;
    margin: 20px 0;
    padding: 12px 104px;
    background-color:#195159 ;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;
}
.login .container button:hover{
    background-color: #24636d;
    transition: 0.5s;
}